.foods-container {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 150px auto;
  margin-top: 0.2rem;
  padding: 80px;
  width: 40%;
}

.categorys {
  display: flex;
  justify-content: center;
  width: 100%;
}

.category {
  background-color: #f7a100;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flexbox;
  font-size: 18px;
  margin: 5px;
  padding: 5px 10px;
  transition: 0.22s;
}

.category:hover {
  background-color: #ff5100;
  color: black;
}

.card {
  display: flexbox;
}
